/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a[class] {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Arrows with sass */
body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d2956;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1300px;
  margin: auto;
}

@media only screen and (max-width: 1280px) {
  .container {
    max-width: initial;
    padding: 0 50px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    padding: 0 20px;
  }
}

.font--mar {
  font-family: "Poppins", sans-serif;
}

.font--bold {
  font-weight: 600;
}

.color--red {
  color: #F21E3D;
}

.display--none {
  display: none;
}

::-moz-selection {
  background-color: rgba(242, 30, 61, 0.2);
}

::selection {
  background-color: rgba(242, 30, 61, 0.2);
}

.heading {
  font-size: 2.5rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-shadow: 0 5px 0 rgba(242, 30, 61, 0.15);
}

.heading::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: calc(100% + 1rem);
  width: 20px;
  height: 3px;
  background: #F21E3D;
}

.heading--center {
  margin: auto;
  text-align: center;
}

.heading--center::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: calc(-1rem - 20px);
  width: 20px;
  height: 3px;
  background: #F21E3D;
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 1.875rem;
  }
}

.para {
  letter-spacing: 1px;
  margin: 1rem 0;
  font-weight: 380;
}

@media only screen and (max-width: 768px) {
  .para {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    margin: 0.5rem 0;
  }
}

.text--indent {
  text-indent: 1.875rem;
}

.btn {
  min-width: 150px;
  border-radius: 0;
  border: 1px solid #F21E3D;
  color: #1d2956;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.btn.btn-primary {
  background: #F21E3D;
  color: white;
}

.btn:hover {
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

a,
button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/**
* This file contains styling of all kinds of CTA
* BUTTONS - FORM CONTROLS - LINKS
*/
.navbar {
  padding: 1rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32.51%, #FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 32.51%, rgba(255, 255, 255, 0) 100%);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.navbar__logo img {
  width: 12.5rem;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 1.875rem;
}

.navbar .link {
  color: #1d2956;
  white-space: nowrap;
  position: relative;
}

.navbar .link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 0;
  height: 2px;
  background: #F21E3D;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.navbar .link:hover::after {
  width: 100%;
}

.navbar__cta .link::after {
  -webkit-transition: width 0.35s ease-in-out, height 0.25s linear 0.5s, opacity 0.15s linear 0.6s;
  transition: width 0.35s ease-in-out, height 0.25s linear 0.5s, opacity 0.15s linear 0.6s;
}

.navbar__cta .link:hover::after {
  height: 160%;
  opacity: 0.2;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background: none;
  }
  .navbar .container {
    position: fixed;
    top: -1000px;
    width: 100%;
    height: 100vh;
    background: white;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .container .navbar__links {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .container .navbar__cta {
    margin-top: 5rem;
  }
  .navbar .container .link {
    font-size: 1.2rem;
  }
  .navbar .container .link:active {
    color: #F21E3D;
  }
  .navbar .container .link::after {
    display: none;
  }
  .navbar__logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: white;
    border-bottom: 1px solid #ddd;
  }
  .navbar .toggle {
    background: #1d2956;
    width: 30px;
    height: 2px;
    position: relative;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    cursor: pointer;
  }
  .navbar .toggle::before {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #1d2956;
    width: 30px;
    height: 2px;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  .navbar .toggle::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    background: #1d2956;
    width: 30px;
    height: 2px;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  .navbar #navToggle:checked ~ .container .navbar__logo .toggle {
    background: transparent;
  }
  .navbar #navToggle:checked ~ .container .navbar__logo .toggle::after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .navbar #navToggle:checked ~ .container .navbar__logo .toggle::before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .navbar #navToggle:checked ~ .container {
    top: 0;
  }
}

@media only screen and (max-width: 575px) {
  .navbar .navbar__logo img {
    max-width: 180px;
  }
}

.hero {
  width: 100%;
  color: #1d2956;
  position: relative;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(1.25) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='1' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(19.43deg, #FFFFFF 3.8%, rgba(255, 255, 255, 0) 13.83%), linear-gradient(270deg, #FFFFFF 34.01%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
}

.hero__svg {
  position: absolute;
  bottom: -50px;
  left: -70px;
  max-width: 300px;
}

.hero .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.hero .row__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero .row__col--content {
  padding-right: 7.5rem;
}

.hero__join {
  font-size: 1.5625rem;
  margin-bottom: 1rem;
}

.hero__fullForm {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 100%;
}

.hero__fullForm .hero__fullForm--large-font {
  font-size: 3.75rem;
  font-weight: 600;
}

.hero__text {
  font-size: 2.1875rem;
  font-weight: 300;
  line-height: 100%;
}

.hero__text--one {
  margin: 40px auto 1.75rem 0;
}

.hero__text--two {
  text-align: right;
  margin-top: 1rem;
}

.hero__title,
.hero__title span {
  font-size: 14.375rem;
  display: block;
  line-height: 70%;
  text-align: center;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.hero__cta {
  position: relative;
  z-index: 50;
  display: inline-block;
  color: #1d2956;
  padding: 0.5rem 1.5rem;
  border: 1px solid #1d2956;
  background: white;
}

.hero__cta:hover {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.hero__cta--dark {
  border-color: #1d2956;
  background: #1d2956;
  color: white;
}

@media only screen and (max-width: 992px) {
  .hero .row__col--first {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .hero .row__col--second {
    -webkit-box-flex: 1.25;
        -ms-flex: 1.25;
            flex: 1.25;
  }
  .hero .row__col--content {
    padding-right: 0rem;
  }
  .hero__join {
    font-size: 1.125rem;
    margin-bottom: 0.9rem;
  }
  .hero__fullForm {
    font-size: 1.875rem;
  }
  .hero__fullForm .hero__fullForm--large-font {
    font-size: 3.125rem;
  }
  .hero__text {
    font-size: 1.75rem;
  }
  .hero__text--one {
    margin-top: 1.875rem;
  }
  .hero__title,
  .hero__title span {
    font-size: 12.5rem;
  }
  .hero__buttons {
    margin-top: 4rem;
  }
  .hero__cta {
    padding: 0.4rem 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    padding-top: 10%;
  }
  .hero::after {
    background: linear-gradient(to top, #FFFFFF 3.8%, rgba(255, 255, 255, 0) 50%), linear-gradient(-120deg, #FFFFFF 15%, rgba(255, 255, 255, 0) 100%);
  }
  .hero .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero .row__col {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    text-align: center;
  }
  .hero .row__col * {
    text-align: center;
  }
  .hero .row .lottiePlayer {
    width: 90% !important;
    height: 90% !important;
    margin: auto;
    margin-top: 50px;
  }
  .hero__title,
  .hero__title span {
    font-size: 9.375rem;
  }
  .hero__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 575px) {
  .hero {
    padding-top: 0 !important;
  }
  .hero__svg {
    bottom: -20px;
    max-width: 200px;
  }
}

.about-us .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.about-us .row__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-us .row__col--first {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  z-index: -1;
}

.about-us .mission {
  --card-width: 400px;
  max-width: var(--card-width);
  background: white;
  padding: 2.5rem;
  padding-bottom: 60px;
  -webkit-box-shadow: 0px 20px 60px rgba(54, 79, 107, 0.2);
          box-shadow: 0px 20px 60px rgba(54, 79, 107, 0.2);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 70px;
  background: url("../../assets/svg/about-plants.svg") bottom no-repeat;
  background-size: 100%;
}

.about-us .mission .para {
  letter-spacing: 0;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.about-us .mission::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  width: calc(49vw - (var(--card-width) / 2));
  height: 100%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1.25) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M10-6V6M10 14v12M26 10H14M6 10H-6'  stroke-linecap='square' stroke-width='0.5' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  opacity: 0.2;
}

@media only screen and (max-width: 992px) {
  .about-us .row__col--first {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  .about-us .lottiePlayer {
    margin: auto;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .about-us .mission {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .about-us .mission::before {
    width: calc(50vw - (var(--card-width) / 20));
  }
}

@media only screen and (max-width: 768px) {
  .about-us .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10vh;
  }
  .about-us .row__col--first {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .about-us .lottiePlayer {
    width: 90% !important;
    height: 90% !important;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin: auto;
  }
  .about-us .mission {
    --card-width: 400px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin: auto;
    margin-top: 2rem;
  }
  .about-us .mission::before {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .about-us .row {
    margin-top: 0vh;
  }
  .about-us .mission {
    --card-width: 100%
      ;
  }
}

.bap-roles {
  padding: 100px 0;
}

.bap-roles .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 5.9375rem 1.5625rem;
  margin-top: 100px;
}

.bap-roles .card {
  max-width: 270px;
  text-align: center;
  border: 1px solid rgba(242, 30, 61, 0.2);
  border-bottom: 10px solid #F21E3D;
  padding: 1.5625rem;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0px 20px 20px rgba(254, 82, 68, 0.1);
          box-shadow: 0px 20px 20px rgba(254, 82, 68, 0.1);
}

.bap-roles .card::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #F21E3D;
}

.bap-roles .card__lottie {
  border: 1px solid rgba(242, 30, 61, 0.2);
  border-radius: 10px;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: -95px;
  background: white;
}

@media only screen and (max-width: 768px) {
  .bap-roles .card-wrapper {
    gap: 3.125rem 1.5625rem;
  }
  .bap-roles .card__lottie {
    width: 100px;
    height: 100px;
    margin: initial;
    margin-top: -50px;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 575px) {
  .bap-roles .heading {
    max-width: 80%;
  }
  .bap-roles .card-wrapper {
    margin-top: 50px;
  }
  .bap-roles .card {
    max-width: initial;
    width: 100%;
    border-bottom: 2px solid #1d2956;
    -webkit-box-shadow: 0px 10px 10px rgba(254, 82, 68, 0.1);
            box-shadow: 0px 10px 10px rgba(254, 82, 68, 0.1);
  }
  .bap-roles .card::after {
    display: none;
  }
}

.who-can {
  text-align: center;
  padding: 20vh 0 10vh 0;
  background: url("../../assets/svg/who-can.png") bottom no-repeat;
  background-size: cover;
}

.who-can .lottie {
  max-width: 100px;
  margin: auto;
}

.who-can .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1.5625rem;
  margin-top: 4.375rem;
}

.who-can .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #DDDDDD;
  background: white;
}

.who-can .card__lottie {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 100px;
  margin-top: -50px;
  background: white;
}

.who-can .card .para {
  padding: 0 1.5rem;
}

.who-can .card:hover {
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.who-can .sub-heading {
  text-align: center;
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}

@media only screen and (max-width: 992px) {
  .who-can {
    padding: 8vh 0;
  }
  .who-can .heading {
    max-width: 80%;
  }
  .who-can .lottie {
    width: 80px;
    height: 80px;
  }
  .who-can .card-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3.75rem 1.5625rem;
  }
  .who-can .card {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    width: 300px !important;
  }
  .who-can .card:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

#contactCheckbox:checked + .contact-us {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}

.contact-us {
  --right-padding: 10vw;
  position: fixed;
  bottom: -200px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  z-index: 200;
  padding: 3.125rem 0;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.contact-us::before {
  content: "";
  display: block;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: -1;
}

.contact-us::after {
  content: "";
  display: block;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='68' height='61.151' patternTransform='scale(1.8) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M113.548 50.575H90.454l-11.547-20 11.547-20h23.094l11.547 20zm-136 0h-23.095l-11.547-20 11.547-20h23.094l11.547 20zm119 30.576H73.452l-11.547-20 11.547-20h23.094l11.547 20zm-34 0H39.452l-11.547-20 11.547-20h23.094l11.547 20zm-34 0H5.452l-11.547-20 11.547-20h23.094l11.547 20zm-34.001 0h-23.094l-11.547-20 11.547-20h23.094l11.547 20zm61.906-30.576h23.094l11.547-20-11.547-20H56.453l-11.547 20zm-10.906 0H22.453l-11.547-20 11.547-20h23.094l11.547 20zm-34 0h-23.094l-11.547-20 11.547-20h23.094l11.547 20zm85-30.575H73.453L61.906 0l11.547-20h23.094l11.547 20zm-34 0H39.453L27.906 0l11.547-20h23.094L74.094 0zm-34 0H5.453L-6.094 0 5.453-20h23.094L40.094 0zm-34 0h-23.094L-40.094 0l11.547-20h23.094L6.094 0z'  stroke-width='1' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  opacity: 0.05;
  z-index: -1;
}

.contact-us .container {
  max-width: 1200px;
}

.contact-us .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contact-us .row__col--first {
  width: 60vw;
  padding-right: var(--right-padding);
  position: relative;
}

.contact-us .row__col--second {
  width: 40vw;
}

.contact-us .row .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) scaleX(1.2);
          transform: translate(-50%, -50%) scaleX(1.2);
  background: white;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  z-index: 0;
}

.contact-us .row .overlay ~ * {
  position: relative;
  z-index: 10;
}

.contact-us .close {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: white;
  border: 1px solid #1d2956;
  cursor: pointer;
}

.contact-us .close i {
  color: #1d2956;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.contact-us .close:hover i {
  color: #F21E3D;
}

.contact-us .close.display--none {
  display: none;
}

.contact-us .contact-info {
  position: -webkit-sticky;
  position: sticky;
  top: 20vh;
}

.contact-us .contact-info .para {
  margin: 0;
}

.contact-us .contact-info .social-media {
  margin-top: 2rem;
}

.contact-us .contact-info .social-media li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.contact-us .contact-info .social-media i {
  color: #F21E3D;
  font-size: 1.2rem;
}

.contact-us .contact-info::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  z-index: -1;
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.contact-us .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 3rem;
}

.contact-us .pagination__item {
  width: 33.33%;
}

.contact-us .pagination__item label {
  display: block;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.contact-us .pagination__item .line {
  width: 100%;
  height: 8px;
  background: #F6F6F6;
  border: 1px solid #ddd;
  position: relative;
}

.contact-us .pagination__item .line::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #F21E3D;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.contact-us .pagination__item .line.active {
  border-color: #F21E3D;
}

.contact-us .pagination__item .line.active::after {
  width: 100%;
}

.contact-us .pane-wrapper {
  overflow: hidden;
}

.contact-us .pane-wrapper__form-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.contact-us .pane-wrapper__pane {
  width: calc(60vw - var(--right-padding));
  padding-right: 3.125rem;
}

.contact-us .pane-wrapper .sub-heading {
  font-size: 2rem;
}

.contact-us .pane-wrapper .para {
  margin: 0;
  margin-bottom: 2rem;
  width: 80ch;
  max-width: 90%;
  font-size: 0.9rem;
}

.contact-us .pane-wrapper .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.contact-us .pane-wrapper .form-group {
  width: 100%;
  border: 1px solid #CCCCCC;
  position: relative;
  margin-top: 1rem;
}

.contact-us .pane-wrapper .form-group label {
  position: absolute;
  top: 0;
  left: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: white;
  padding: 0 0.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.contact-us .pane-wrapper .form-group label * {
  font-size: 0.5rem;
  color: #F21E3D;
  margin-left: 0.5rem;
}

.contact-us .pane-wrapper .form-group input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0.8rem 1.5rem;
}

.contact-us .pane-wrapper .form-group input:focus {
  outline: 1px solid #F21E3D;
}

.contact-us .pane-wrapper .buttons {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.contact-us .pane-wrapper .btn {
  border: none;
  padding: 0.5rem 1.5rem;
  min-width: initial;
  color: white;
}

.contact-us .pane-wrapper .btn.btn--dark {
  background: #1d2956;
}

.contact-us .pane-wrapper .btn.btn--red {
  background: #F21E3D;
}

@media only screen and (max-width: 992px) {
  .contact-us .pane-wrapper .sub-heading {
    line-height: 120%;
    margin-bottom: 0.5rem;
  }
  .contact-us .pane-wrapper .para {
    letter-spacing: 0;
    font-size: 0.9rem;
  }
  .contact-us .pane-wrapper__pane {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .contact-us .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-us .row__col--first {
    width: 100vw;
  }
  .contact-us .row__col--second {
    width: 100vw;
  }
  .contact-us .close {
    display: none;
  }
  .contact-us .close.display--none {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-bottom: 50px;
    position: relative;
  }
  .contact-us .pane-wrapper__pane {
    width: calc(100vw - var(--right-padding));
  }
}

@media only screen and (max-width: 575px) {
  .contact-us {
    padding: 20px 0;
  }
  .contact-us .close.display--none {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .contact-us .contact-info {
    position: relative;
    top: 2rem;
    margin-bottom: 50px;
  }
  .contact-us .pagination {
    margin-bottom: 1.5rem;
  }
  .contact-us .pagination__item {
    width: 33.33%;
  }
  .contact-us .pagination__item label {
    font-size: 0.9rem;
  }
  .contact-us .pagination__item .line {
    width: 100%;
    height: 8px;
  }
  .contact-us .pane-wrapper .sub-heading {
    font-size: 1.5625rem;
  }
  .contact-us .pane-wrapper .para {
    max-width: 100%;
    font-size: 0.8rem;
  }
  .contact-us .pane-wrapper .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}

.journeys {
  background: url("../assets/png/journey.png") 50% 60% no-repeat;
  background-size: 110%;
  min-height: 100vh;
  padding: 10%;
  position: relative;
}

.journeys .heading {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.journeys .heading + .para {
  text-align: center;
  margin: 0;
}

.journeys .card {
  --pin-size: 80px;
  width: var(--pin-size);
  height: calc(var(--pin-size) + 10px);
  border-radius: var(--pin-size);
  padding: 8px;
  position: relative;
  background: var(--card-color);
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 200;
}

.journeys .card.level-1 {
  --card-color: #F21E3D;
  left: 21%;
  bottom: 38%;
}

.journeys .card.level-2 {
  --card-color: #EF6100;
  left: 40%;
  bottom: 40%;
}

.journeys .card.level-3 {
  --card-color: #AD777B;
  left: 58%;
  bottom: 32%;
}

.journeys .card.level-4 {
  --card-color: #EA1821;
  left: 80%;
  bottom: 18%;
}

.journeys .card::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: calc(var(--pin-size) / 2.15) solid transparent;
  border-right: calc(var(--pin-size) / 2.15) solid transparent;
  border-top: calc(var(--pin-size) / 2.15) solid var(--card-color);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50.5%, 55%);
          transform: translate(-50.5%, 55%);
  border-radius: 100px;
  z-index: -1;
}

.journeys .card__thumb-image {
  background: white;
  border-radius: 100%;
  padding: 5px;
  width: 100%;
}

.journeys .card .content {
  width: calc(100% - 12px);
  height: calc(100% - 10px);
  -webkit-transition: width 0.35s ease, height 0.35s ease;
  transition: width 0.35s ease, height 0.35s ease;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.journeys .card .content__text {
  width: calc(400px - 3rem);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.journeys .card .content__text .para {
  margin: 0;
}

.journeys .card .content__title {
  text-align: center;
}

.journeys .card .content__title + .para {
  text-align: center;
  margin: 0;
}

.journeys .card .content__button {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #F21E3D;
  width: 80%;
  padding: 0.5rem;
  color: white;
  text-align: center;
  cursor: pointer;
}

.journeys .card .content__button:hover {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.journeys .card .content .perks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  margin-top: 1rem;
}

.journeys .card .content .perks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: #1d2956;
}

.journeys .card .content .perks__item i {
  color: #F21E3D;
}

.journeys .card:hover {
  background: transparent;
}

.journeys .card:hover::after {
  border-color: transparent;
}

.journeys .card:hover .content {
  width: 400px;
  height: auto;
  background: white;
  padding: 40px 1.5rem 5vh;
  overflow: visible;
  border: 1px solid #F21E3D;
}

.journeys .card:hover .content__text {
  visibility: visible;
  opacity: 1;
}

.journeys .card:hover .content .card__thumb-image {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  max-width: 120px;
  padding: 5%;
  border: none;
  border-top: 1px solid #F21E3D;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #fff 50%, rgba(255, 255, 255, 0));
}

@media only screen and (max-width: 1280px) {
  .journeys {
    min-height: 80vh;
  }
  .journeys .card .content__text {
    width: calc(350px - 3rem);
  }
  .journeys .card .content .perks {
    gap: 0.5rem;
  }
  .journeys .card .content .perks__item {
    font-size: 0.8rem;
  }
  .journeys .card:hover .content {
    width: 350px;
  }
}

@media only screen and (max-width: 992px) {
  .journeys {
    background: none;
  }
  .journeys .card-wrapper {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap-reverse;
            flex-flow: row-reverse wrap-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 100px 20px;
    position: relative;
    margin-top: 100px;
  }
  .journeys .card {
    width: calc(50% - 10px);
    height: initial;
    position: initial;
    -webkit-transform: initial;
            transform: initial;
    border-radius: 0;
    margin: 0;
    padding: 0;
    background: transparent;
  }
  .journeys .card::after {
    border-color: transparent;
  }
  .journeys .card .content {
    height: 100% !important;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: initial;
            transform: initial;
    height: auto;
    background: white;
    padding: 40px 1.5rem 5vh;
    overflow: visible;
    border: 1px solid #F21E3D;
  }
  .journeys .card .content__text {
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
  .journeys .card .content .card__thumb-image {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 40%;
    max-width: 120px;
    padding: 5%;
    border: none;
    border-top: 1px solid #F21E3D;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to bottom, #fff 50%, rgba(255, 255, 255, 0));
  }
  .journeys .card:hover .content {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .journeys {
    padding: 10vh 0;
  }
  .journeys .card-wrapper {
    gap: 80px;
    margin-top: 80px;
  }
  .journeys .card {
    width: 100%;
    z-index: initial !important;
  }
  .journeys .card .content {
    padding: 40px 1rem 3rem 1rem;
  }
  .journeys .card .content .card__thumb-image {
    width: 100px;
  }
  .journeys .card .content:hover {
    padding: 40px 1rem 3rem 1rem;
  }
  .journeys .card .content:hover .card__thumb-image {
    width: 100px;
  }
}

.testimonials {
  padding: calc(min(100px, 20vh)) 0;
}

.testimonials .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.testimonials .row__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.testimonials .row__col--second {
  padding-left: 6.25rem;
}

.testimonials .video {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.testimonials .video::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1d2956;
  opacity: 0.6;
}

.testimonials .video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100%;
  background: #F21E3D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  cursor: pointer;
}

.testimonials .video__play i {
  font-size: 2rem;
  color: white;
}

.testimonials .sub-heading + .para {
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

.testimonials #testimonialCheckbox:checked ~ .video-player {
  -webkit-transform: translate(-50.1%, -50%) scale(1);
          transform: translate(-50.1%, -50%) scale(1);
}

.testimonials #testimonialCheckbox:checked ~ .video-player iframe {
  opacity: 1;
  visibility: visible;
}

.testimonials .video-player {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50.1%, -50%) scale(0);
          transform: translate(-50.1%, -50%) scale(0);
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: -webkit-transform 0.35s ease-out;
  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
  transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
}

.testimonials .video-player iframe {
  width: calc(min(560px, 80%));
  height: 315px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.testimonials .video-player__close {
  width: 60px;
  height: 60px;
  color: white;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  position: absolute;
  top: 10vh;
  right: 10%;
  cursor: pointer;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.testimonials .video-player__close:hover {
  background: white;
  color: #F21E3D;
}

@media only screen and (max-width: 992px) {
  .testimonials {
    padding-top: 0;
  }
  .testimonials .heading {
    display: none;
    margin-bottom: 1.5rem;
  }
  .testimonials .heading.display--none {
    display: block;
  }
  .testimonials .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials .row__col--second {
    padding-left: 0;
    margin-top: 1.5rem;
  }
}

.contactFlag {
  background: #F6F6F6;
  padding: calc(min(50px, 5vh));
}

.contactFlag .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.contactFlag .para {
  max-width: 650px;
  margin-top: 0;
}
/*# sourceMappingURL=style.css.map */