.navbar {
   padding: 1rem 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   @include z-index(navigation);
   background: linear-gradient(180deg, #FFFFFF 32.51%, rgba(255, 255, 255, 0) 100%);

   .container {
      @include flex-center-vert;
      gap: calculateRem(30px);
   }

   &__logo img {
      width: calculateRem(200px);
   }

   &__links {
      @include flex-center-vert;
      flex: 1;
      gap: calculateRem(30px);
   }

   .link {
      color: $dark;
      white-space: nowrap;
      position: relative;

      &::after {
         @include pseudo;
         bottom: -30%;
         left: 0;
         width: 0;
         height: 2px;
         background: $red;
         transition: $transition;
         transform-origin: left bottom;
      }

      &:hover::after {
         width: 100%;
      }
   }

   &__cta {

      // margin-right: auto;
      .link::after {
         transition: width 0.35s ease-in-out,
            height 0.25s linear 0.5s,
            opacity 0.15s linear 0.6s;
      }

      .link:hover::after {
         height: 160%;
         opacity: 0.2;
      }
   }

   @include make-responsive(tablet) {
      background: none;

      .container {
         position: fixed;
         top: -1000px;
         width: 100%;
         height: 100vh;
         background: white;
         transition: $transition;
         @include flex-center;
         flex-direction: column;

         .navbar__links {
            flex: initial;

            @include flex-center-column;
         }

         .navbar__cta {
            margin-top: 5rem;
         }

         .link {
            font-size: 1.2rem;
         }

         .link:active {
            color: $red;
         }

         .link::after {
            display: none;
         }
      }

      &__logo {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         padding: 0.5rem 30px;
         @include flex-between;
         background: white;
         border-bottom: 1px solid #ddd;
      }

      & .toggle {
         background: $dark;
         width: 30px;
         height: 2px;
         position: relative;
         transition: $transition;
         cursor: pointer;

         &::before {
            @include pseudo;
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
            background: $dark;
            width: 30px;
            height: 2px;
            transition: $transition;
         }

         &::after {
            @include pseudo;
            top: 5px;
            left: 50%;
            transform: translate(-50%, 50%);
            background: $dark;
            width: 30px;
            height: 2px;
            transition: $transition;
         }
      }

      #navToggle:checked~.container .navbar__logo .toggle {
         background: transparent;

         &::after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
         }

         &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
         }
      }

      #navToggle:checked~.container {
         top: 0;
      }
   }

   @include make-responsive(phone) {
      .navbar__logo img {
         max-width: 180px;
      }
   }
}